<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="studio.forface.cinescout">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application android:name=".CineScout"

        android:theme="@style/CineTheme"
        android:label="@string/application_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:icon="@mipmap/ic_launcher"

        android:allowBackup="false">

        <activity android:name=".MainActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="client.android.ui.BrowserActivity"/>

    </application>

</manifest>
